@use "../variables/colors";
@use "../variables/fonts";

html {
  font-family: fonts.$main-font, fonts.$secondary-font, system-ui, sans-serif;
  background-color: colors.$background;
}

button {
  cursor: pointer;
}

body {
  padding: 80px 16px;
}

img {
  max-width: 100%;
}

.section {
  display: flex;
  width: 320px;
  padding: 80px 16px;
  flex-direction: column;
  justify-content: center;
}
