@use "../../variables/colors.scss";

.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;

  &__heading {
    justify-self: stretch;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__divider {
    background: colors.$primary-dark;
    width: 227px;
    height: 3px;
  }
  &__description {
    color: colors.$secondary-light;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
}
